.chat_box {
    padding: 10px 20px;
    background: linear-gradient(135deg, white, #f5f2f2);
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, white, #ede8e8);
    min-height: 87.5vh;
}

.chat_box .title_generalbox {
    font-size: 3vh;
    font-family: 'Geologica', sans-serif;
    color: #cb5242;
    text-shadow: 0.5px 0.5px 1px black;
}

.chat_box a {
    text-decoration: none;
}

.chat-image {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.chat_box .switch {
    width: 45px;
    height: 20px;
}

.chat_box .slider::before {
    height: 12px;
    width: 14px;
    left: 4px;
    bottom: 4px;
}

span.chat-name,
span.friendlist-name a {
    text-decoration: none;
    color: black;
    width: fit-content;
}

.dark-mode span.chat-name,
.dark-mode span.friendlist-name a {
    color: white;
}

.chat-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.chat-name,
span.friendlist-name {
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
}

span.chat-name.friendlist-page,
span.friendlist-name.friendlist-page {
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

span.chat-name span.friendlist-name {
    transform: scale(1.3);
}

#submit_chat {
    width: 30%;
    margin: 10px;
    border: 0.5px solid black;
    background-color: white;
    padding: 10px 0;
    display: none;
}

.chat_page {
    display: flex;
    min-height: 90vh;
}

.chat_page .friend {
    transition: background-color 0.2s;
}

.chat_page .friend:hover {
    border-radius: 10px;
    background-color: #e9dfdf;
    cursor: pointer;
}

.dark-mode .chat_page .friend:hover {
    border-radius: 10px;
    background-color: #2f3136;
    cursor: pointer;
}

.chat_page .friend-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.chat_page .friend-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: none;
}

.chat_page .friend:hover .friend-avatar img {
    filter: none;
    opacity: 1;
}

.chat-link-relative {
    right: 40px;
}

.chat-link {
    position: fixed;
    right: 40px;
}

#random-chat-controls-container {
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

#random-chat-openers {
    padding: 20px;
    text-align: center;
    background: linear-gradient(
        135deg,
        rgb(102, 126, 234) 0%,
        rgb(118, 75, 162) 100%
    );
    border-radius: 10px;
    margin: 20px 0px;
    color: white;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.chat-link a {
    display: inline-block;
    padding: 2px 5px;
    background-color: rgb(189, 23, 23);
    font-family: 'Geologica', sans-serif;
    color: white;
    font-size: 1.5vh;
    text-decoration: none;
    border-radius: 50px;
}

.chat-interface {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#buttonSwitchChat {
    display: none;
}

.username_chat_friend {
    text-decoration: none;
    color: black;
}

#friendTop .username_chat_friend {
    color: white;
}

.username_chat_friend strong {
    font-size: 1.4vh;
}

.online-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, #4caf50, #66bb6a);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5px;
    left: 5px;
}

.dark-mode .chat-link-relative {
    background-color: #19181a;
}

.dark-mode .chat_box {
    background: linear-gradient(135deg, var(--dark-ligher-grey), #1e1d1d);
}

.dark-mode span.chat-name a {
    color: white;
}

.dark-mode .chat-interface {
    background-color: var(--dark-grey);
}

.dark-mode .chat-interface-big {
    background-color: var(--dark-grey);
}

.dark-mode #buttonSwitchChat {
    color: white;
}

.drop-zone-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px dashed #4caf50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.drop-zone-overlay.active {
    opacity: 1;
    visibility: visible;
}

.drop-zone-text {
    color: white;
    font-size: 24px;
    text-align: center;
}

#bind-discord-looking {
    background-color: #5865f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.random-chat-badge {
    position: absolute;
    top: 10px;
    left: -2px;
    background-color: #e74057;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

@media only screen and (max-width: 1420px) {
    .chat-interface {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1018px) {
    .chat_box {
        width: 80%;
        margin-top: 10px;
        border-radius: 10px;
    }

    .chat_page {
        gap: 10px;
        min-height: unset;
    }

    .chat-link-relative {
        min-height: 88vh;
    }

    .chat-interface {
        width: 90%;
        margin: 10 10px 0 10px;
        border-radius: 20px;
    }

    .chat-interface-big {
        width: 90%;
        margin: 10px 10px 0 10px;
    }

    #buttonSwitchChat {
        display: block;
        margin: 5px;
        background: none;
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    #buttonSwitchChat:hover {
        color: #e74057;
    }
}

@media only screen and (max-width: 800px) {
    #random-chat-openers {
        top: 180px;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .chat-image {
        width: 200px;
        height: auto;
        cursor: pointer;
    }

    #random-chat-openers {
        top: 190px;
        width: 95%;
        padding: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .chat-image {
        width: 150px;
    }
}
