/* PERSONALITY TEST */

/* General Layout */
.lol-quiz {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 950px;
    margin: 2rem auto;
    padding: 1.5rem;
    color: black;
    border-radius: 1.5rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background: white;
    border: 2px solid var(--main--red);
}

.dark-mode .lol-quiz {
    color: #fff;
    background: var(--dark-grey);
}

.lol-quiz .gold-text {
    color: #e0ad66;
}

.axisLabel {
    fill: #333;
    font-size: 18px;
}

.dark-mode .axisLabel {
    fill: #fff;
}

/* Header */
.lol-quiz h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--main--red);
    font-weight: 600;
    text-transform: uppercase;
}

.lol-quiz h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #595959;
    font-weight: 500;
}

/* Question Styling */
.lol-quiz .question {
    display: none;
    margin-bottom: 2rem;
}

.lol-quiz .question h3 {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    color: black;
    text-align: center;
    font-weight: 500;
}

.dark-mode .lol-quiz .question h3 {
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.lol-quiz .question button {
    display: block;
    width: 100%;
    margin: 0.9rem 0;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    border: 1px solid var(--main--red);
}

.dark-mode .lol-quiz .question button {
    background-color: var(--dark-ligher-grey);
    border: 1px solid var(--gold);
    color: #fff;
}

.lol-quiz .question button:hover,
.lol-quiz .question button.selected {
    background-color: rgba(231, 64, 87, 0.3);
    transform: scale(1.02);
}

.dark-mode .lol-quiz .question button:hover,
.dark-mode .lol-quiz .question button.selected {
    background-color: rgba(224, 173, 102, 0.3);
}

/* Navigation Buttons */
.lol-quiz .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

.lol-quiz .navigation button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--main--red);
    transition: background 0.3s ease, transform 0.2s ease;
    width: 45%;
}

.lol-quiz .navigation #backBtn {
    color: black;
    background-color: white;
}

.dark-mode .lol-quiz .navigation #backBtn {
    color: white;
    background-color: var(--dark-grey);
}

.lol-quiz .navigation #backBtn {
    color: black;
    background-color: white;
}

.lol-quiz .navigation #nextBtn {
    color: white;
    background-color: var(--main--red);
}

.lol-quiz .navigation #confirmBtn {
    color: white;
    background-color: var(--main--red);
}

.lol-quiz .navigation button:hover {
    background-color: var(--dark--red);
    transform: scale(1.05); /* Slight scale-up on hover */
}

.lol-quiz .navigation button:disabled {
    background-color: #7b7b7b;
    cursor: not-allowed;
}

/* Result Section */
.lol-quiz #result {
    text-align: center;
    padding-top: 2rem;
}

.lol-quiz .color-red {
    color: var(--main--red) !important;
}

.lol-quiz .result-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

.lol-quiz #result-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.lol-quiz #result-image {
    width: auto;
    height: 300px;
}

.lol-quiz #result-description {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: black;
}

.dark-mode .lol-quiz #result-description {
    color: #d4d4d4;
}

#canvas-container {
    overflow: visible;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#result-chart path.slice {
    mix-blend-mode: multiply; /* Creates nice color overlap */
}

#result-chart {
    aspect-ratio: 1 / 1; /* Ensure the chart stays square */
    overflow: visible;
}

.lol-quiz canvas {
    margin: auto;
    max-width: 90%;
}

#showMatchingUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#showMatchingUser h3 {
    font-size: 2rem;
    color: var(--main--red);
    margin-bottom: 1rem;
}

/* Progress Bar Container */
#progressBarContainer {
    width: 100%;
    height: 10px;
    background-color: #c2bbbb;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: visible;
}

#progressPercent {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 500;
    color: var(--ligher--grey);
}

.dark-mode #progressBarContainer {
    background-color: #333131;
}

#progressBar {
    height: 100%;
    background-color: var(--main--red); /* Fresh and bold pinkish-red */
    transition: width 0.3s ease;
    border-radius: 10px;
}

.dark-mode #progressBar {
    background-color: #e0ad66;
}

/* Reset Button */
#resetBtn {
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(
        45deg,
        #ff4f5a,
        #ff6f7d
    ); /* Modern red gradient */
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
    margin-bottom: 20px;
}

#resetBtn:hover {
    background: linear-gradient(45deg, #ff1f32, #ff3f56); /* Darker red hover */
    transform: scale(1.1); /* Larger scale effect on hover */
}

#resetBtn:focus {
    outline: none;
    box-shadow: 0 0 12px rgba(255, 79, 90, 0.8);
}

#resetBtn.hidden {
    display: none;
}

@media only screen and (max-width: 1150px) {
    .lol-quiz .result-row {
        gap: 20px;
        padding: unset;
    }

    .lol-quiz {
        max-width: 650px;
    }
}

@media only screen and (max-width: 600px) {
    .lol-quiz .result-row {
        flex-direction: column;
    }

    .lol-quiz #result-image {
        display: none;
    }
}
