.setting-page h2 {
    margin-bottom: 20px;
}

.setting-option {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.setting-option i {
    font-size: 2em;
    width: 70px;
    color: rgb(24, 23, 23);
}

.setting-option span {
    font-size: 1.5em;
    flex-grow: 1;
    font-weight: 600;
    color: rgb(24, 23, 23);
    font-family: 'Libre Franklin', sans-serif;
}

.setting-option .toggle-container,
.setting-option .toggle-container-filter,
.setting-option .toggle-container-sound,
.setting-option .toggle-container-random-chat {
    flex-shrink: 0;
}

.dark-mode .setting-option i,
.dark-mode .setting-option span {
    color: white;
}

.dark-mode .setting-option {
    background-color: var(--dark-ligher-grey);
}

.page-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--main--red);
    color: black;
    position: relative;
}

.page-header a {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.page-header .active {
    border-bottom: 4px solid white;
}

@media only screen and (max-width: 600px) {
    .setting-option i {
        font-size: 1.5em;
        width: 30px;
        flex-shrink: 0;
    }

    .setting-option .fa-comment-slash {
        font-size: 1.5em;
        width: 30px;
    }

    .setting-option .fa-moon {
        font-size: 1.5em;
        width: 25px;
        padding-left: 5px;
    }

    .setting-option span {
        font-size: 1em;
    }

    .setting-option .toggle-container,
    .setting-option .toggle-container-filter,
    .setting-option .toggle-container-sound,
    .setting-option .toggle-container-random-chat {
        flex-shrink: 0;
        min-width: 40px;
    }
}
